@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* 
@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}
*/
/*
    Обнуление стилей
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Меняет подсчет ширины блока тах чтобы было легче верстать*/
*,
*:before,
*:after {
  box-sizing: border-box !important;
}

/*Убирает линии обводки у некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*Делаем некоторые теги блочными*/
nav,
footer,
header,
aside {
  display: block;
}

/*Уравнивает поведение шрифтов и тегов для разных браузеров, запрещают увеличение шрифтов на телефонах*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Наследуем семейство шрифта для всех элементов формы*/
input,
button,
textarea {
  font-family: inherit;
}

/*Убирают некоторые особенности браузеров для элементов*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Обнуление заголовков*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  color: #000;
  min-height: 100%;
  min-width: 100%;
}

._container {
  margin: 0 auto;
  max-width: 1280px;
}

.img-backg {
  position: absolute;
  z-index: -99;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  background: url(../img/home/header/bg.svg) no-repeat;
  background-size: 50%;
}
@media (max-width: 1200px) {
  .wrapper {
    background-size: 60%;
  }
}
@media (max-width: 656px) {
  .wrapper {
    background-size: 50%;
  }
}

.active {
  border: 1px solid black;
  border-radius: 6px;
}
@media (max-width: 992px) {
  .active {
    border: 0;
    border-radius: 0;
  }
}

.bg-img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shaded {
  border: 3px solid #000;
  box-shadow: 10px 10px 0px #000;
  border-radius: 6px;
  padding: 8px 16px;
}

.shaded-img {
  outline: 6px solid #000;
  box-shadow: 10px 10px 0px #000;
  border-radius: 16px;
}

.navbar-toggler-icon,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  background-image: none;
  border: none;
}

.dropdown-menu {
  min-width: 60px !important;
  left: 50% !important;
  text-align: center;
}

.dropdown-item {
  border: none;
}

.header {
  padding: 34px 15px 58px;
}
.header__nav-content {
  margin-left: auto;
}
@media (max-width: 992px) {
  .header__nav-content {
    display: none;
  }
}
.header__mob-content {
  margin-top: 25px;
  text-align: center;
  display: none;
}
@media screen and (max-width: 992px) {
  .header__mob-content {
    display: block;
  }
}
.header__button {
  color: black;
  background: #e28484;
  cursor: pointer;
  font-size: calc(10px + 0.46875vw);
}
@media (max-width: 767px) {
  .header__button {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1280);
  }
}
.header__button:hover {
  color: black;
}
@media screen and (max-width: 767px) {
  .header__button {
    padding: 6px 10px;
  }
}
@media (max-width: 500px) {
  .header__button {
    padding: 4px 8px;
  }
}
.header__dropdown {
  margin-right: 5px;
  font-size: calc(10px + 0.46875vw);
}
@media (max-width: 767px) {
  .header__dropdown {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 767px) {
  .header__dropdown ul.dropdown {
    padding-left: 12px;
  }
}
.header .container-fluid {
  padding: 0;
}

.logo {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.06em;
  font-size: calc(12px + 1.5625vw);
}
@media (max-width: 767px) {
  .logo {
    font-size: calc(12px + 34 * (100vw - 320px) / 1280);
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .navbar-toggler {
    padding: 3.5px 5px;
  }
}

.menu {
  display: flex;
  margin-right: 32px;
  gap: 32px;
}
.menu__item {
  font-size: calc(12px + 0.404040404vw);
}
@media (max-width: 767px) {
  .menu__item {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 990);
  }
}
.menu__link {
  color: black;
  padding: 8px 15px;
  cursor: pointer;
}

.page__history-block {
  padding: 62px 15px 27px;
}
.page__news-block {
  padding: 45px 15px 11px;
}
.page__donate-block {
  margin-top: 11px;
  margin-bottom: 54px;
  padding: 90px 15px 106px;
}

.history-block__heading h1 {
  font-weight: 600;
  line-height: 102.5%;
  font-size: 90px;
  margin-bottom: 24px;
}
@media (max-width: 1200px) {
  .history-block__heading h1 {
    text-align: center;
    font-size: calc(28px + 3vw);
  }
}
@media (max-width: 767px) {
  .history-block__heading h1 {
    font-size: calc(28px + 61.2 * (100vw - 320px) / 1200);
  }
}
.history-block__video-content div {
  border: 6px solid black;
  border-radius: 16px;
}
@media (max-width: 1200px) {
  .history-block__video-content {
    text-align: center;
    margin-bottom: 24px;
  }
}
.history-block__text {
  margin-bottom: 24px;
  font-size: calc(14px + 0.78125vw);
  line-height: 150%;
}
@media (max-width: 1200px) {
  .history-block__text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .history-block__text {
    font-size: calc(14px + 17 * (100vw - 320px) / 1280);
    margin-bottom: 20px;
  }
}
.history-block__btn {
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 153px;
  font-size: calc(10px + 0.46875vw);
}
@media (max-width: 767px) {
  .history-block__btn {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1280);
  }
}
@media (max-width: 1200px) {
  .history-block__btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .history-block__btn {
    padding: 6px 10px;
    width: 123px;
  }
}
@media (max-width: 500px) {
  .history-block__btn {
    padding: 4px 8px;
    width: 103px;
  }
}
.history-block__btn:hover {
  color: black;
}

.news-block__heading {
  max-width: 999px;
  margin-left: auto;
  text-align: right;
  font-weight: 600;
  font-size: 40px;
  line-height: 102.5%;
  letter-spacing: -0.06em;
}
@media (max-width: 1200px) {
  .news-block__heading {
    font-size: calc(24px + 1.3333333333vw);
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .news-block__heading {
    font-size: calc(24px + 27.2 * (100vw - 320px) / 1280);
  }
}
.news-block__content > div:first-child {
  margin-top: 27px;
  margin-bottom: 61px;
}
@media (max-width: 767px) {
  .news-block__content > div:first-child {
    margin-bottom: 30px;
  }
}
.news-block__card-row {
  min-height: 396px;
}
@media (max-width: 767px) {
  .news-block__card-row {
    text-align: center;
  }
  .news-block__card-row > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
.news-block__content > div:nth-child(2) {
  margin-bottom: 27px;
}
.news-block__btn {
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 103px;
  font-size: calc(10px + 0.46875vw);
}
@media (max-width: 767px) {
  .news-block__btn {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1280);
    padding: 4px 8px;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}
.news-block__btn:hover {
  color: black;
}

.donate-block__image {
  position: relative;
}
.donate-block__image::before {
  content: url(../img/home/section_donate/bg-up-el.png);
  position: absolute;
  z-index: -1;
  top: -30%;
  left: 0;
}
.donate-block__image::after {
  content: url(../img/home/section_donate/bg-low-el.png);
  position: absolute;
  z-index: -1;
  bottom: -50%;
  left: 50%;
}
@media (max-width: 767px) {
  .donate-block__image {
    display: none;
  }
}
.donate-block__text-content {
  padding-left: 50px;
}
@media (max-width: 767px) {
  .donate-block__text-content {
    padding: 0 25px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .donate-block__text-content {
    padding: 0 15px;
  }
}

.don-cont > *:not(:last-child) {
  margin-bottom: 17px;
}
.don-cont__heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.06em;
}
@media (max-width: 1200px) {
  .don-cont__heading {
    font-size: calc(24px + 1.6666666667vw);
  }
}
@media (max-width: 767px) {
  .don-cont__heading {
    font-size: calc(24px + 40.8 * (100vw - 320px) / 1280);
    text-align: center;
    padding: 0;
  }
}
.don-cont__text {
  line-height: 150%;
  font-weight: 400;
  font-size: calc(14px + 0.15625vw);
}
@media (max-width: 767px) {
  .don-cont__text {
    font-size: calc(14px + 3.4 * (100vw - 320px) / 1280);
  }
}
.don-cont__btn {
  display: flex;
  justify-content: space-between;
  width: 123px;
  cursor: pointer;
  color: #000;
  font-size: calc(10px + 0.46875vw);
}
@media (max-width: 767px) {
  .don-cont__btn {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1280);
    padding: 4px 8px;
    width: 103px;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}
.don-cont__btn:hover {
  color: #000;
}

.page-about__head-history {
  padding: 15px 0px 52px;
}
@media (max-width: 1280px) {
  .page-about__head-history {
    padding: 15px 15px 52px;
  }
}
.page-about__main-history {
  padding: 53px 0px;
}
@media (max-width: 1280px) {
  .page-about__main-history {
    padding: 53px 15px;
  }
}
.page-about__sub-changes {
  padding: 52px 0px;
}
.page-about__changes {
  padding: 53px 0px 30px;
}
.page-about__donations {
  padding: 30px 0px 110px;
}

.head-hist__heading {
  font-weight: 600;
  line-height: 102.5%;
  letter-spacing: -0.06em;
  font-size: 90px;
  margin-bottom: 44px;
}
@media (max-width: 1200px) {
  .head-hist__heading {
    font-size: calc(44px + 3.6666666667vw);
  }
}
@media (max-width: 767px) {
  .head-hist__heading {
    font-size: calc(44px + 74.8 * (100vw - 320px) / 1200);
  }
}
.head-hist__content {
  align-items: center;
}
@media (max-width: 1024px) {
  .head-hist__content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .head-hist__image {
    margin-bottom: 35px;
    text-align: center;
  }
}
.head-hist__text-content {
  padding-left: 85px;
}
@media (max-width: 1024px) {
  .head-hist__text-content {
    padding-left: 0;
  }
}

.headhist-cont > *:not(:last-child) {
  margin-bottom: 25px;
}
.headhist-cont__subheading {
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 1200px) {
  .headhist-cont__subheading {
    font-size: calc(16px + 0.3333333333vw);
  }
}
@media (max-width: 767px) {
  .headhist-cont__subheading {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1200);
  }
}
.headhist-cont__quotes {
  font-weight: 600;
  font-size: 40px;
  line-height: 102.5%;
  letter-spacing: -0.06em;
}
@media (max-width: 1200px) {
  .headhist-cont__quotes {
    font-size: calc(24px + 1.3333333333vw);
  }
}
@media (max-width: 767px) {
  .headhist-cont__quotes {
    font-size: calc(24px + 27.2 * (100vw - 320px) / 1280);
  }
}
.headhist-cont__text {
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 1200px) {
  .headhist-cont__text {
    font-size: calc(16px + 0.3333333333vw);
  }
}
@media (max-width: 767px) {
  .headhist-cont__text {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1200);
  }
}

.main-history__content > *:not(:last-child) {
  margin-bottom: 105px;
}
.main-history__section-f-cont {
  gap: 85px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 150%;
}
.main-history__section-s-cont {
  font-size: 20px;
  text-align: center;
  line-height: 150%;
}
.main-history__section-th-cont {
  gap: 80px;
  align-items: center;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
}

.section-second__text {
  margin-bottom: 20px;
}

.sub-changes__sub-heading {
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 25px;
}
.changes__heading {
  font-size: 40px;
  line-height: 102.5%;
  text-align: center;
  letter-spacing: -0.06em;
  font-weight: 600;
  height: 410px;
  width: 1148px;
  margin: 0 auto;
  margin-bottom: 46px;
}
.donations__heading {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  width: 850px;
  margin: 0 auto;
  line-height: 100%;
  margin-bottom: 18px;
}
.donations__text {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  width: 727px;
  margin-bottom: 28px;
}
.donations__button {
  display: block;
  width: 128px;
  margin: 0 auto;
  background-color: rgb(226, 132, 132);
  color: #000;
  font-size: 24px;
}
.donations__button:hover {
  color: #000;
}

.page-donate__main-donate {
  padding-top: 21px;
}
.main-donate__heading {
  font-weight: 600;
  font-size: 90px;
  line-height: 102.5%;
  width: 653px;
  letter-spacing: -0.06em;
  margin-bottom: 46px;
}
.accounts__heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 102.5%;
  margin-bottom: 25px;
}
.accounts__content-cards {
  margin-bottom: 60px;
}
.accounts__text {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.accounts__button {
  padding: 16px;
  border-radius: 15px;
}

.postscriptum__text {
  font-size: 48px;
  line-height: 100%;
  font-weight: 600;
  margin: 0 auto;
  width: 845px;
  text-align: center;
  margin-bottom: 55px;
}

.page-news__news {
  padding: 11px 15px 40px;
}

.news__container > *:not(:last-child) {
  margin-bottom: 24px;
}
.news__heading {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 64px;
}
.news-section {
  padding: 10px 15px 15px;
}
.news-section__heading {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 15px;
}
.news-section__image {
  text-align: center;
  margin-bottom: 25px;
}
.news-section__main-text {
  font-size: 20px;
  line-height: 102.5%;
  text-align: justify;
  margin-bottom: 25px;
}
.news-section__button {
  margin-bottom: 25px;
  display: flex;
  max-width: 123px;
  align-items: center;
  justify-content: center;
  color: black;
  background: #e28484;
  cursor: pointer;
  margin: 0 auto;
}
.news-section__button:hover {
  color: black;
}
.news-section__last-news {
  margin-top: 55px;
}

.lst-news__body {
  gap: 10px;
  align-items: center;
  padding: 10px 5px 10px;
}
.lst-news__image img {
  max-width: 100px;
  max-height: 100px;
}
.lst-news__text {
  margin-bottom: 8px;
}
.lst-news__button {
  padding: 8px 16px;
  display: flex;
  font-weight: 600;
  max-width: 125px;
  justify-content: center;
}

.footer {
  background: rgb(211, 236, 218);
  background: linear-gradient(0deg, rgb(211, 236, 218) 64%, rgb(255, 255, 255) 100%);
  padding: 56px 0px;
}
.footer img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.footer__content {
  margin-left: auto;
  margin-right: 32px;
}
@media screen and (max-width: 992px) {
  .footer__content {
    display: none;
  }
}
.footer__button--footer {
  color: #000;
  background: #e28484;
  cursor: pointer;
  font-size: calc(10px + 0.46875vw);
}
@media (max-width: 767px) {
  .footer__button--footer {
    font-size: calc(10px + 10.2 * (100vw - 320px) / 1280);
    padding: 4px 8px;
  }
}
.footer__button--footer:hover {
  color: black;
}