@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// Media Queries breakpoints
/* 
@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}
*/

/*
    Обнуление стилей
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}
/* Меняет подсчет ширины блока тах чтобы было легче верстать*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box !important;
}

/*Убирает линии обводки у некоторых браузеров*/

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

/*Делаем некоторые теги блочными*/

nav,
footer,
header,
aside {
    display: block;
}

/*Уравнивает поведение шрифтов и тегов для разных браузеров, запрещают увеличение шрифтов на телефонах*/

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*Наследуем семейство шрифта для всех элементов формы*/

input,
button,
textarea {
    font-family: inherit;
}

/*Убирают некоторые особенности браузеров для элементов*/

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

/*Обнуление заголовков*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: #000;
    min-height: 100%;
    min-width: 100%;
}

//------------------------------------------------

._container {
    margin: 0 auto;
    max-width: 1280px;
}

.img-backg {
    position: absolute;
    z-index: -99;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    background: url(../img/home/header/bg.svg) no-repeat;
    background-size: 50%;

    @media (max-width: 1200px) {
        background-size: 60%;
    }

    @media (max-width: 656px) {
        background-size: 50%;
    }
}

.active {
    border: 1px solid black;
    border-radius: 6px;

    @media (max-width: 992px) {
        border: 0;
        border-radius: 0;
    }
}

.bg-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.shaded {
    border: 3px solid #000;
    box-shadow: 10px 10px 0px #000;
    border-radius: 6px;
    padding: 8px 16px;
}

.shaded-img {
    outline: 6px solid #000;
    box-shadow: 10px 10px 0px #000;
    border-radius: 16px;
}
.navbar-toggler-icon,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    background-image: none;
    border: none;
}

.dropdown-menu {
    min-width: 60px !important;
    left: 50% !important;
    text-align: center;
}

.dropdown-item {
    border: none;
}
// ========================================
.header {
    padding: 34px 15px 58px;

    &__logo {
    }

    &__nav-content {
        margin-left: auto;
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__mob-content {
        margin-top: 25px;
        text-align: center;
        display: none;

        @media screen and (max-width: 992px) {
            display: block;
        }
    }

    &__button {
        color: black;
        background: #e28484;
        cursor: pointer;

        font-size: calc(10px + 6 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
        }
        &:hover {
            color: black;
        }
        @media screen and (max-width: 767px) {
            padding: 6px 10px;
        }

        @media (max-width: 500px) {
            padding: 4px 8px;
        }
    }

    &__btn-group {
    }

    &__dropdown {
        margin-right: 5px;

        font-size: calc(10px + 6 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
        }

        & ul.dropdown {
            @media (max-width: 767px) {
                padding-left: 12px;
            }
        }
    }

    & .container-fluid {
        padding: 0;
    }
}

.logo {
    // font-size: 32px; // mob - 16
    font-weight: 600;
    line-height: calc(48 / 32) * 100%;
    letter-spacing: -0.06em;

    font-size: calc(12px + 20 * (100vw / 1280));

    @media (max-width: 767px) {
        font-size: calc(12px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));
        margin-right: 5px;
    }
}

.navbar-toggler {
    @media (max-width: 767px) {
        padding: 3.5px 5px;
    }
}

.menu {
    display: flex;
    margin-right: 32px;
    gap: 32px;
    &__item {
        font-size: calc(12px + 4 * (100vw / 990));

        @media (max-width: 767px) {
            font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 990));
        }
    }

    &__link {
        color: black;
        padding: 8px 15px;
        cursor: pointer;
    }
}

.page {
    &__history-block {
        padding: 62px 15px 27px;
    }
    &__news-block {
        padding: 45px 15px 11px;
    }

    &__donate-block {
        margin-top: 11px;
        margin-bottom: 54px;
        padding: 90px 15px 106px;
    }
}

.history-block {
    &__content {
    }

    &__heading {
        h1 {
            font-weight: 600;
            line-height: 102.5%;
            font-size: 90px;
            margin-bottom: 24px;

            @media (max-width: 1200px) {
                text-align: center;
                font-size: calc(28px + 36 * (100vw / 1200));
            }

            @media (max-width: 767px) {
                font-size: calc(28px + (36 + 36 * 0.7) * ((100vw - 320px) / 1200));
            }
        }
    }

    &__video-content {
        div {
            border: 6px solid black;
            border-radius: 16px;
        }

        @media (max-width: 1200px) {
            text-align: center;
            margin-bottom: 24px;
        }
    }

    &__text {
        margin-bottom: 24px;
        font-size: calc(14px + 10 * (100vw / 1280));
        line-height: calc(24 / 16) * 100%;

        @media (max-width: 1200px) {
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 24px;
        }

        @media (max-width: 767px) {
            font-size: calc(14px + (10 + 10 * 0.7) * (100vw - 320px) / 1280);
            margin-bottom: 20px;
        }
    }

    &__btn {
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 153px;
        font-size: calc(10px + 6 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
        }
        @media (max-width: 1200px) {
            margin: 0 auto;
        }
        @media screen and (max-width: 767px) {
            padding: 6px 10px;
            width: 123px;
        }

        @media (max-width: 500px) {
            padding: 4px 8px;
            width: 103px;
        }
        &:hover {
            color: black;
        }
    }
}
//News-Home-block

.news-block {
    &__heading {
        max-width: 999px;
        margin-left: auto;
        text-align: right;
        font-weight: 600;
        font-size: 40px;

        line-height: 102.5%;
        letter-spacing: -0.06em;

        @media (max-width: 1200px) {
            font-size: calc(24px + 16 * (100vw / 1200));
            text-align: center;
            margin: 0 auto;
        }

        @media (max-width: 767px) {
            font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
        }
    }

    &__content > div:first-child {
        margin-top: 27px;
        margin-bottom: 61px;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__card-row {
        min-height: 396px;

        @media (max-width: 767px) {
            text-align: center;

            & > *:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    &__content > div:nth-child(2) {
        margin-bottom: 27px;
    }

    &__btn {
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 103px;
        font-size: calc(10px + 6 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
            padding: 4px 8px;
            margin: 0 auto;
            justify-content: space-evenly;
        }
        &:hover {
            color: black;
        }
    }
}

// Donate Home section

.donate-block {
    &__content {
    }

    &__image {
        position: relative;
        &::before {
            content: url(../img/home/section_donate/bg-up-el.png);
            position: absolute;
            z-index: -1;
            top: -30%;
            left: 0;
        }

        &::after {
            content: url(../img/home/section_donate/bg-low-el.png);
            position: absolute;
            z-index: -1;
            bottom: -50%;
            left: 50%;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__text-content {
        padding-left: 50px;
        @media (max-width: 767px) {
            padding: 0 25px;
            text-align: center;
        }

        @media (max-width: 480px) {
            padding: 0 15px;
        }
    }
}
.don-cont {
    & > *:not(:last-child) {
        margin-bottom: 17px;
    }
    &__heading {
        font-weight: 600;
        font-size: 48px;

        line-height: 100%;
        letter-spacing: -0.06em;

        @media (max-width: 1200px) {
            font-size: calc(24px + 20 * (100vw / 1200));
        }
        @media (max-width: 767px) {
            font-size: calc(24px + (24 + 24 * 0.7) * ((100vw - 320px) / 1280));
            text-align: center;
            padding: 0;
        }
    }

    &__text {
        line-height: calc(24 / 16) * 100%;
        font-weight: 400;
        font-size: calc(14px + 2 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1280));
        }
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        width: 123px;
        cursor: pointer;
        color: #000;

        font-size: calc(10px + 6 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
            padding: 4px 8px;
            width: 103px;
            margin: 0 auto;
            justify-content: space-evenly;
        }
        &:hover {
            color: #000;
        }
    }
}

//Page-AboutUS section
.page-about {
    &__head-history {
        padding: 15px 0px 52px;

        @media (max-width: 1280px) {
            padding: 15px 15px 52px;
        }
    }

    &__main-history {
        padding: 53px 0px;

        @media (max-width: 1280px) {
            padding: 53px 15px;
        }
    }

    &__sub-changes {
        padding: 52px 0px;

        @media (max-width: 1280px) {
            padding: 52px 15px;
        }
    }

    &__changes {
        padding: 53px 0px 30px;

        @media (max-width: 1280px) {
            padding: 53px 15px 30px;
        }
    }

    &__donations {
        padding: 30px 0px 110px;

        @media (max-width: 1280px) {
            padding: 30px 15px 110px;
        }
    }
}
.head-hist {
    &__container {
    }

    &__heading {
        font-weight: 600;
        line-height: 102.5%;
        letter-spacing: -0.06em;
        font-size: 90px;

        @media (max-width: 1200px) {
            font-size: calc(44px + 44 * (100vw / 1200));
        }
        @media (max-width: 767px) {
            font-size: calc(44px + (44 + 44 * 0.7) * ((100vw - 320px) / 1200));
        }
        margin-bottom: 44px;
    }

    &__content {
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__image {
        @media (max-width: 1024px) {
            margin-bottom: 35px;
            text-align: center;
        }
        @media (max-width: 767px) {
        }
    }

    &__text-content {
        padding-left: 85px;

        @media (max-width: 1024px) {
            padding-left: 45px;
        }

        @media (max-width: 992px) {
            padding-left: 0;
        }
    }
}

.headhist-cont {
    & > *:not(:last-child) {
        margin-bottom: 25px;
    }
    &__subheading {
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
        @media (max-width: 1200px) {
            font-size: calc(16px + 4 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (4 + 4 * 0.7) * (100vw - 320px) / 1200);
        }
    }

    &__quotes {
        font-weight: 600;
        font-size: 40px;
        line-height: 102.5%;
        letter-spacing: -0.06em;
        @media (max-width: 1200px) {
            font-size: calc(24px + 16 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
        }
    }

    &__text {
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;

        @media (max-width: 1200px) {
            font-size: calc(16px + 4 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (4 + 4 * 0.7) * (100vw - 320px) / 1200);
        }
    }
}
.main-history {
    &__container {
    }

    &__content > *:not(:last-child) {
        margin-bottom: 105px;
    }

    &__section-f-cont {
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__section-s-cont {
    }

    &__section-th-cont {
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
}

.section-first {
    &__text {
        padding-right: 85px;

        font-size: 20px;
        line-height: calc(30 / 20) * 100%;

        @media (max-width: 1200px) {
            font-size: calc(16px + 4 * (100vw / 1200));
        }

        @media (max-width: 1024px) {
            padding-right: 45px;
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (4 + 4 * 0.7) * (100vw - 320px) / 1200);
            padding-right: 0;
            text-align: center;
            margin-bottom: 25px;
        }
    }
}

.section-second {
    &__text {
        margin-bottom: 20px;

        font-size: 20px;
        text-align: center;
        line-height: calc(30 / 20) * 100%;

        @media (max-width: 1200px) {
            font-size: calc(16px + 4 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (4 + 4 * 0.7) * (100vw - 320px) / 1200);
        }
    }

    &__image {
        text-align: center;
    }
}
.section-third {
    &__text {
        padding-left: 85px;

        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
        text-align: right;

        @media (max-width: 1200px) {
            font-size: calc(16px + 4 * (100vw / 1200));
        }

        @media (max-width: 1024px) {
            padding-left: 45px;
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (4 + 4 * 0.7) * (100vw - 320px) / 1200);
            text-align: center;
            padding-left: 0;
            margin-bottom: 25px;
        }
    }

    &__image {
        @media (max-width: 767px) {
            order: 2;
        }
    }
}
.sub-changes {
    &__container {
    }

    &__content {
    }

    &__sub-heading {
        text-align: center;
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
        margin-bottom: 25px;
        @media (max-width: 1200px) {
            font-size: calc(16px + 4 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (4 + 4 * 0.7) * (100vw - 320px) / 1200);
        }
    }

    &__card-row {
        @media (max-width: 767px) {
            & > *:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    &__card-column {
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}
.changes {
    &__container {
    }

    &__content {
    }

    &__heading {
        font-size: 40px;
        line-height: 102.5%;
        text-align: center;
        letter-spacing: -0.06em;
        font-weight: 600;
        max-width: 1148px;
        margin: 0 auto;
        margin-bottom: 46px;

        @media (max-width: 1200px) {
            font-size: calc(24px + 16 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
            margin-bottom: 23px;
        }
    }

    &__card-row {
        @media (max-width: 767px) {
            & > *:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    &__card-column {
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}
.donations {
    &__container {
    }

    &__content {
    }

    &__heading {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        max-width: 850px;
        margin: 0 auto;
        line-height: 100%;
        margin-bottom: 18px;

        @media (max-width: 1200px) {
            font-size: calc(24px + 16 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
            margin-bottom: 9px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: calc(36 / 24) * 100%;
        text-align: center;
        margin: 0 auto;
        max-width: 727px;
        margin-bottom: 28px;

        @media (max-width: 1200px) {
            font-size: calc(16px + 8 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
            margin-bottom: 14px;
        }
    }

    &__button {
        display: block;
        max-width: 128px;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(226, 132, 132, 1);
        color: #000;
        font-size: 24px;

        @media (max-width: 1200px) {
            font-size: calc(14px + (10) * (100vw / 1200));
        }

        @media (max-width: 767px) {
            padding: 4px 8px;
            font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1200));
        }

        &:hover {
            color: #000;
        }
    }
}

//Main Donate sections
.page-donate {
    &__main-donate {
        padding: 21px 15px 0;
        margin-bottom: 170px;

        @media (max-width: 767px) {
            margin-bottom: 85px;
        }
    }

    &__postscriptum {
        padding: 0 15px;
    }
}
.main-donate {
    &__container {
    }

    &__heading {
        font-weight: 600;
        font-size: 90px;
        line-height: 102.5%;
        max-width: 653px;
        letter-spacing: -0.06em;
        margin-bottom: 46px;

        @media (max-width: 1200px) {
            font-size: calc(40px + 50 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(40px + (50 + 50 * 0.7) * ((100vw - 320px) / 1200));
            margin-bottom: 23px;
        }
    }

    &__content {
    }
}
.accounts {
    &__heading {
        font-weight: 600;
        font-size: 40px;
        line-height: 102.5%;
        margin-bottom: 25px;

        @media (max-width: 1200px) {
            font-size: calc(24px + 16 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1200));
        }
    }

    &__content-cards {
        margin-bottom: 60px;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }

        @media (max-width: 555px) {
            justify-content: center;
        }
    }

    &__text {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        
        & .copied-text {
            font-size: 20px;
            background-color: #fff;
            color: black;
            text-align: center;
            @media (max-width: 1200px) {
                font-size: calc(12px + 8 * (100vw / 1200));
            }

            @media (max-width: 767px) {
                font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
            }
        }

        @media (max-width: 1200px) {
            font-size: calc(14px + 10 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1200));
        }
    }

    &__button {
        padding: 16px;
        border-radius: 15px;
        position: relative;
        @media (max-width: 555px) {
            padding: 6px;
        }
        span {
            @media (max-width: 555px) {
                display: none;
            }
        }
    }
}
.success::after {
    content: "Copied!";
    position: absolute;
    font-size: 14px;
    top: -35px;
    right: 0;
    transition: all 0.5s;
    padding: 5px;
    border-radius: 25px;
    background: lightgreen;
}

.error::after {
    content: "Press Ctrl + C to copy";
    position: absolute;
    font-size: 14px;
    max-width: 150px;
    
    top: -35px;
    right: 0;
    transition: all 0.5s;
    padding: 5px;
    border-radius: 25px;
    background: rgba($color: red, $alpha: 0.5);

    @media (max-width:960px) {
        // left: -100%;
        content: "copy manually";
    }
}
.postscriptum {
    &__container {
    }

    &__text {
        font-size: 48px;
        line-height: 100%;
        font-weight: 600;
        margin: 0 auto;
        max-width: 845px;
        text-align: center;
        margin-bottom: 55px;

        @media (max-width: 1200px) {
            font-size: calc(20px + 28 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(20px + (28 + 28 * 0.7) * ((100vw - 320px) / 1200));
        }
    }
}

// News page styles
.page-news {
    &__news {
        padding: 11px 15px 40px;
    }
}
.news {
    &__container > *:not(:last-child) {
        margin-bottom: 24px;
    }

    &__heading {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 64px;

        @media (max-width: 1200px) {
            font-size: calc(32px + 32 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(32px + (32 + 32 * 0.7) * ((100vw - 320px) / 1200));
        }
    }

    &__cards {
    }
}

//Separate news block
.news-section {
    padding: 10px 15px 15px;
    &__container {
    }

    &__content {
    }

    &__heading {
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 15px;

        @media (max-width: 1200px) {
            font-size: calc(24px + 24 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(24px + (24 + 24 * 0.7) * ((100vw - 320px) / 1200));
        }
    }

    &__socials {
    }

    &__image {
        text-align: center;
        margin-bottom: 25px;
    }

    &__main-text {
        font-size: 20px;
        line-height: 102.5%;
        text-align: justify;
        margin-bottom: 25px;

        @media (max-width: 1200px) {
            font-size: calc(14px + 6 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1200));
            margin-bottom: 15px;
        }
    }

    &__button {
        margin-bottom: 25px;
        display: flex;
        max-width: 123px;
        align-items: center;
        justify-content: center;
        color: black;
        background: #e28484;
        cursor: pointer;
        margin: 0 auto;

        @media (max-width: 1200px) {
            font-size: calc(10px + 6 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1200));
            padding: 4px 8px;
        }

        &:hover {
            color: black;
        }
    }

    &__last-news {
        margin-top: 55px;
    }
}
.inst-link {
}
.facebook-link {
}
.twitter-link {
}
.lst-news {
    &__body {
        gap: 10px;
        align-items: center;
        padding: 10px 5px 10px;
    }

    &__image {
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }

    &__text-group {
    }

    &__text {
        margin-bottom: 8px;

        @media (max-width: 1200px) {
            font-size: calc(12px + 4 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
        }
    }

    &__button {
        padding: 8px 16px;
        display: flex;
        font-weight: 600;
        max-width: 125px;
        justify-content: center;

        @media (max-width: 1200px) {
            font-size: calc(10px + 4 * (100vw / 1200));
        }

        @media (max-width: 767px) {
            font-size: calc(10px + (4 + 4 * 0.7) * ((100vw - 320px) / 1200));
        }
    }
}

// footer

.footer {
    background: rgb(211, 236, 218);
    background: linear-gradient(0deg, rgba(211, 236, 218, 1) 64%, rgba(255, 255, 255, 1) 100%);
    img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }
    padding: 56px 0px;

    &__container {
    }

    &__content {
        margin-left: auto;
        margin-right: 32px;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__button--footer {
        color: #000;
        background: #e28484;
        cursor: pointer;
        font-size: calc(10px + 6 * (100vw / 1280));

        @media (max-width: 767px) {
            font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
            padding: 4px 8px;
        }
        &:hover {
            color: black;
        }
    }
}
