@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/*
    Обнуление стилей
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}
/* Меняет подсчет ширины блока тах чтобы было легче верстать*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box !important;
}

/*Убирает линии обводки у некоторых браузеров*/

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

/*Делаем некоторые теги блочными*/

nav,
footer,
header,
aside {
    display: block;
}

/*Уравнивает поведение шрифтов и тегов для разных браузеров, запрещают увеличение шрифтов на телефонах*/

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*Наследуем семейство шрифта для всех элементов формы*/

input,
button,
textarea {
    font-family: inherit;
}

/*Убирают некоторые особенности браузеров для элементов*/

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

/*Обнуление заголовков*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: #000;
    min-height: 100%;
    min-width: 100%;
}

._container {
    margin: 0 auto;
    max-width: 1280px;

    @media (max-width: 1280px) {
        max-width: 1120px;
    }
}

.img-backg {
    position: absolute;
    z-index: -99;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    background: url(../img/home/header/bg.svg) no-repeat;
}

.active {
    border: 1px solid black;
    border-radius: 6px;

    @media (max-width: 992px) {
        border: 0;
        border-radius: 0;
    }
}

.bg-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.shaded {
    border: 3px solid #000;
    box-shadow: 10px 10px 0px #000;
    border-radius: 6px;
    padding: 8px 16px;
}

.shaded-img {
    outline: 6px solid #000;
    box-shadow: 10px 10px 0px #000;
    border-radius: 16px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
// ========================================
.header {
    padding: 34px 0px 58px;

    &__logo {
    }

    &__nav-content {
        margin-left: auto;
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__mob-content {
        margin-top: 25px;
        text-align: center;
        display: none;

        @media screen and (max-width: 992px) {
            display: block;
        }
    }

    &__button {
        color: black;
        background: #e28484;
        cursor: pointer;
        &:hover {
            color: black;
        }
        @media screen and (max-width: 600px) {
            padding: 6px 10px;

        }

        @media (max-width: 500px) {
            font-size: 10px;
            padding: 4px 8px;
        }
    }

    &__btn-group {
    }

    &__dropdown {
        margin-right: 5px;

        @media screen and (max-width: 600px) {
            font-size: 24px;
        }
    
        @media (max-width: 500px){
            font-size: 10px;
        }
    }
}
.logo {
    font-size: 32px;
    font-weight: 600;
    line-height: calc(48 / 32) * 100%;
    letter-spacing: -0.06em;

    @media screen and (max-width: 600px) {
        font-size: 24px;
    }

    @media (max-width: 500px) {
        font-size: 14px;
    }
}

.menu {
    display: flex;
    margin-right: 32px;
    gap: 32px;
    &__item {
    }

    &__link {
        color: black;
        padding: 8px 15px;
    }
}

.page {
    &__history-block {
        padding-top: 62px;
        padding-bottom: 27px;
    }
    &__news-block {
        padding-top: 45px;
        padding-bottom: 11px;
    }

    &__donate-block {
        margin-top: 11px;
        margin-bottom: 54px;
        padding: 90px 0 106px;
    }
}

.history-block {
    &__content {
    }

    &__text-content > *:not(:last-child) {
        margin-bottom: 24px;
    }

    &__video-content {
        img {
            border: 6px solid black;
            border-radius: 16px;
        }
    }
}
.hist-cont {
    &__heading {
        font-weight: 600;
        line-height: 102.5%;
        font-size: 90px;
        text-align: left;
    }

    &__text {
        line-height: calc(24 / 16) * 100%;
    }

    &__btn {
        color: black;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

//News-Home-block

.news-block {
    &__heading {
        max-width: 999px;
        margin-left: auto;
        text-align: right;
        font-weight: 600;
        font-size: 40px;
        line-height: 102.5%;
        letter-spacing: -0.06em;
    }

    &__content > div:first-child {
        margin-top: 27px;
        margin-bottom: 61px;
    }

    &__card-row {
        min-height: 396px;
    }

    &__content > div:nth-child(2) {
        margin-bottom: 27px;
    }

    &__btn {
        color: black;
        cursor: pointer;
        display: inline-block;
        &:hover {
            color: black;
        }
    }
}

// Donate Home section

.donate-block {
    &__content {
    }

    &__image {
        position: relative;
        &::before {
            content: url(../img/home/section_donate/bg-up-el.png);
            position: absolute;
            z-index: -1;
            top: -30%;
            left: 0;
        }

        &::after {
            content: url(../img/home/section_donate/bg-low-el.png);
            position: absolute;
            z-index: -1;
            bottom: -50%;
            left: 50%;
        }
    }

    &__text-content {
    }
}
.don-cont {
    & > *:not(:last-child) {
        margin-bottom: 17px;
    }
    &__heading {
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.06em;
    }

    &__text {
        line-height: calc(24 / 16) * 100%;
        font-weight: 400;
    }

    &__btn {
        display: inline-block;
        cursor: pointer;
        color: #000;

        &:hover {
            color: #000;
        }
    }
}

//Main-AboutUS section
.page-about {
    &__head-history {
        padding: 15px 0px 52px;
    }

    &__main-history {
        padding: 53px 0px;
    }

    &__sub-changes {
        padding: 52px 0px;
    }

    &__changes {
        padding: 53px 0px 30px;
    }

    &__donations {
        padding: 30px 0px 110px;
    }
}
.head-hist {
    &__container {
    }

    &__heading {
        font-weight: 600;
        line-height: 102.5%;
        letter-spacing: -0.06em;
        font-size: 90px;
        margin-bottom: 44px;
    }

    &__content {
        gap: 95px;
        align-items: center;
    }

    &__image {
    }

    &__text-content {
    }
}

.headhist-cont {
    & > *:not(:last-child) {
        margin-bottom: 25px;
    }
    &__subheading {
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
    }

    &__quotes {
        font-weight: 600;
        font-size: 40px;
        line-height: 102.5%;
        letter-spacing: -0.06em;
    }

    &__text {
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
    }
}
.main-history {
    &__container {
    }

    &__content > *:not(:last-child) {
        margin-bottom: 105px;
    }

    &__section-f-cont {
        gap: 85px;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
    }

    &__text {
    }

    &__image {
    }

    &__section-s-cont {
        font-size: 20px;
        text-align: center;
        line-height: calc(30 / 20) * 100%;
    }

    &__section-th-cont {
        gap: 80px;
        align-items: center;
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
        text-align: right;
    }
}

.section-second {
    &__text {
        margin-bottom: 20px;
    }
}
.sub-changes {
    &__container {
    }

    &__content {
    }

    &__sub-heading {
        text-align: center;
        font-size: 20px;
        line-height: calc(30 / 20) * 100%;
        margin-bottom: 25px;
    }

    &__card-row {
    }

    &__card-column {
    }
}
.changes {
    &__container {
    }

    &__content {
    }

    &__heading {
        font-size: 40px;
        line-height: 102.5%;
        text-align: center;
        letter-spacing: -0.06em;
        font-weight: 600;
        height: 410px;
        width: 1148px;
        margin: 0 auto;
        margin-bottom: 46px;
    }

    &__card-row {
    }

    &__card-column {
    }
}
.donations {
    &__container {
    }

    &__content {
    }

    &__heading {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        width: 850px;
        margin: 0 auto;
        line-height: 100%;
        margin-bottom: 18px;
    }

    &__text {
        font-size: 24px;
        line-height: calc(36 / 24) * 100%;
        text-align: center;
        margin: 0 auto;
        width: 727px;
        margin-bottom: 28px;
    }

    &__button {
        display: block;
        width: 128px;
        margin: 0 auto;

        background-color: rgba(226, 132, 132, 1);
        color: #000;
        font-size: 24px;

        &:hover {
            color: #000;
        }
    }
}

//Main Donate sections
.page-donate {
    &__main-donate {
        padding-top: 21px;
    }

    &__postscriptum {
    }
}
.main-donate {
    &__container {
    }

    &__heading {
        font-weight: 600;
        font-size: 90px;
        line-height: 102.5%;
        width: 653px;
        letter-spacing: -0.06em;
        margin-bottom: 46px;
    }

    &__content {
    }
}
.accounts {
    &__heading {
        font-weight: 600;
        font-size: 40px;
        line-height: 102.5%;
        margin-bottom: 25px;
    }

    &__content-cards {
        margin-bottom: 60px;
    }

    &__text {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    &__button {
        padding: 16px;
        border-radius: 15px;
    }
}
.button-copy {
}
.postscriptum {
    &__container {
    }

    &__text {
        font-size: 48px;
        line-height: 100%;
        font-weight: 600;
        margin: 0 auto;
        width: 845px;
        text-align: center;
        margin-bottom: 55px;
    }
}

// footer

.footer {
    background: rgb(211, 236, 218);
    background: linear-gradient(0deg, rgba(211, 236, 218, 1) 64%, rgba(255, 255, 255, 1) 100%);
    img {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }
    padding: 56px 0px;

    &__container {
    }

    &__content {
        margin-left: auto;
        margin-right: 32px;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__button--footer {
        color: #000;
        background: #e28484;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}
